@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
:root {
    --bg-theme: #353533;
    --text-theme: #3dd40b;
    --debt-item: #232323;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(215, 215, 215);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app {
    height: 80vh;
    width: 400px;
    max-width: 300px;
    background: var(--bg-theme);
    border-radius: 10px;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    overflow: hidden;
    color: #fff;
}

.top-section {
    width: 100%;
    height: 45%;
   
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.overall-debt-progress {
    align-self: center;
    margin-top: 1.5rem;
}

.active-page {
    position: absolute;
    left: 0 !important;
}

.wrapper-overall-debt {
    height: 7rem;
    width: 7rem;
}

.overall-debt {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background: conic-gradient( var(--text-theme) calc(360deg * .54), rgba(255, 255, 255, 0.181) 0deg );  
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overall-debt .inner-circle {
    height: 6.3rem;
    width: 6.3rem;
    border-radius: 50%;
    background: var(--bg-theme); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.motivation {
    align-self: center;
}


.overall-percentage {
    font-size: 30px;
}

.bottom-section {
    width: 100%;
    height: 55%;
}

.debts {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.debt-item {
    height: 65px;
    width: 100%;
    background-color: var(--debt-item);
    border-radius: 5px;
    display: flex;
    /* border: 1px solid rgb(189, 189, 189); */
}

.debt-description {
    font-size: 13px;
}

.content-section {
    font-size: 13px;
}

.progress-bar-section {
    height: 100%;
    width: 25%;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar {
    height: 80%;
    width: 80%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient( var(--text-theme) calc(360deg * .54), rgba(255, 255, 255, 0.181) 0deg );
    transition: .4s;
}

.progress-bar .inner-circle {
    height: 87%;
    width: 87%;
    border-radius: 50%;
    background: var(--debt-item);
    display: flex;
    align-items: center;
    justify-content: center;
}

.debt-remaining-percentage {
    font-size: 11px;
}

.content-section {
    width: 75%;
    height: 100%;
    padding: .3rem .4rem;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .2rem;
}

.invisible {
    visibility: hidden;
}

.party-owed-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.party-owed-container p {
    scale: 1.07;
    font-weight: 500;
    color: var(--text-theme);
}

.number-of-debts {
    font-size: 14px;
    text-align: center;
    margin-top: 1rem;
    padding: 0 1.5rem;
}

.settings {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 9rem;
    border-radius: 5px 0 0 5px;
    z-index: 11;
    background: rgb(133, 133, 133);
    transition: .4s;
}

.active {
    top: 2rem;
}

.active i {
    animation: rotate .5s ease-in-out forwards;
}




@keyframes rotate {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

.title-on-about-page {
    text-align: center;
    font-size: 25px;
}

.developers {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    list-style: none;
    justify-content: center;
}

.developers .developer {
    background-color: #fff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem; 
}

.about .upper p,
.about .lower p {
    font-weight: 100;
    font-size: 14px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.btn-visit-website {
    background-color: var(--text-theme);
    border: none;
    padding: .8rem 1rem;
    font-size: 15px;
}


.settings {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--text-theme);
}

.settings i {
    font-size: 25px;
    color: #fff;
}

.settings-page {
    background: var(--bg-theme);
    width: 100%;
    height: 82%;
    position: absolute;
    left: 100%;
    transition: .4s;
    z-index: 10;
    padding: 1rem;
}


/* media query */
@media screen and (max-width: 450px) {
    body {
        padding: 0;
        margin: 0;
    }
    .app {
        width: 100vw;
        height: 100%;
        max-width: 100%;
        border-radius: 0;
    }
}

.item-name {
    color: var(--text-theme);
    font-size: 13px;
}